<!DOCTYPE html>
<html>
<head>
    <title>Apple</title>
</head>
<body>
    <div style="text-align: center; font-family: sans-serif; background-color: gray; color: white; border-radius: 10px; padding-bottom: 20px; padding-top: 20px;">
        <h2>Apple</h2>
        <p>
            Jobs and Wozniak started out building the Apple I in Jobs' garage and sold them without
            a monitor, keyboard, or casing (which they decided to add on in 1977). The Apple II 
            revolutionized the computer industry with the introduction of the first-ever color graphics. 
            Sales jumped from $7.8 million in 1978 to $117 million in 1980, the year Apple went public.
            Wozniak left Apple in 1983 due to a diminishing interest in the day-to-day running of Apple Computer. 
            Jobs then hired PepsiCo's John Sculley to be president. However, this move backfired and after much 
            controversy with Sculley, Jobs left in 1985 and went on to new and bigger things. He founded his own 
            company NeXT Software and he also bought Pixar from George Lucas, which would later become a huge success
            in computer animation of such movies as Toy Story, A Bug's Life, Monsters, Inc., and Finding Nemo.Through
            the rest of the 1980s, Apple was still doing well and in 1990 it posted its highest profits yet. This was,
            however, mostly due to the plans that Jobs had already set in motion before he left, most notably his deal
            with a tiny company by the name of Adobe, creator of the Adobe Portable Document Format (PDF). Together the
            two companies created the phenomenon known as desktop publishing.

        </p>
    </div>

    <p style="text-align: center; font-family: sans-serif;">
        The CEO, Steve Jobs!
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg" width="500px" style="border-radius: 10px; margin-left: 30px; margin-right: 30px;">
    </p>
    
    <div style="background-color: gray; text-align: center; text-decoration: none; color: white; font-family: sans-serif; margin-top: 20px; border-radius: 10px; margin-left: 40%; margin-right: 40%; ">
        {% extends 'base.html' %}
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>