<!DOCTYPE html>
<html>
<head>
    <title>Not Fruit</title>
</head>
<body>
    <div style="text-align: center; background-color: gray; color: black; font-family: sans-serif; border-radius: 10px; padding-bottom: 30px; padding-top: 10px;">
        <h2>Welcome to apple site</h2>
        <p>
            Apple Computer, Inc. was founded on April 1, 1976, by college dropouts
            Steve Jobs and Steve Wozniak, who brought to the new company a vision
            of changing the way people viewed computers. Jobs and Wozniak wanted 
            to make computers small enough for people to have them in their homes
            or offices. Simply put, they wanted a computer that was user-friendly.
        </p>
    </div>

    <div style="background-color: gray; text-align: center; text-decoration: none; color: white; font-family: sans-serif; margin-top: 20px; border-radius: 10px; margin-left: 40%; margin-right: 40%;">
        {% extends 'base.html' %}
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>